div {
  height: 100%;
}


.col-6{
max-width: 674.5px !important;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#b3ffb3;
}
#anyaccount,#anyaccount1{
    font-family: 'Acme', sans-serif !important;
    text-align: center;
    font-size: 30px;
    color: #00802b;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.butSignIn{
    background-color: #00802b;
   
    
}
.remember{
   color: #004d1a;
   font-size: 15px;
   font-weight: bold;
}

.signup{
  margin-left: 325px !important;
}

.login{
  margin-left: 150px !important;
}